.relative {
  position: relative;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.h-5 {
  height: 1.25rem;
}

.w-5 {
  width: 1.25rem;
}

.items-center {
  align-items: center;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.text-white {
  color: rgb(255 255 255);
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-4 {
  grid-gap: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w-7xl {
  max-width: 80rem;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.p-4 {
  padding: 1rem;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.overflow-hidden {
  overflow: hidden;
}

.basis-1\/4 {
  flex-basis: 20%;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.text-white {
  color: $white;
}

.font-bold {
  font-weight: 700;
}

.justify-between {
  justify-content: space-between;
}

.h-screen-minus-56 {
  height: calc(100vh - 56px);
}

.content-between {
  align-content: space-between;
}

.p-2 {
  padding: 0.5rem;
}

.capitalize {
  text-transform: capitalize;
}

.bg-white {
  background-color: $white;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.mb-4 {
  margin-bottom: 1rem;
}

.page-item {
  padding: .5rem 1rem .5rem 1rem;
  background-color: $white;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    opacity: .87;
    color: $white;
  }

  &.current {
    background-color: $primary;
    color: $white;
  }
}

.max-w-3xl {
  max-width: 48rem;
}

.text-4xl {
  font-size: 2.5rem;
  line-height: 3rem;
}

.text-center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .md\:gap-4 {
    grid-gap: 1rem;
  }
}
